<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 系统设置, port:监听的接口，userlog：孙工的日志，defaultpage: 默认加载的页面, requestduration：请求超时, fromfile:数据请求入口，默认从服务器请求, 谷歌浏览器，仅自动启动时用-->
    <system  port="1234" userlog="false"  defaultpage="index" requestduration="30" fromfile="false"></system>
    <automatic status= "false" browser="f:/nlc/chrome/chrome.exe" product="mirror" instance="nlcgreen"></automatic>
    <memory>
    <!--内存数据， status：该项是否启用， size: 最大内存大小M， duration: 大小定时检查时间-->
        <cache status="true"  size="1024" duration="3600"></cache>
        <template status="true"  size="1024" duration="3600"></template>
        <session status="true"  size="1024" duration="3600"></session>
    </memory>
    <static>
    <!--存储空间数据， status：该项是否启用。启用后，优先请求本地，本地无则请求服务器并静态化至本地， size: 最大内存大小M， dir: 静态化页面的位置-->
        <data status="false"  size="1024" dir="f:/nlc/Data"></data>
        <source status="true"  size="1024" dir="f:/nlc/Source"></source>
        <serverlog status="true"  size="1024" dir="/serverlog"></serverlog>
        <errlog status="true"  size="1024" dir="/data"></errlog>
    </static>
    <!-- web server 设置 -->
    <redirect>
        <!-- 重定向，对特点参数url进行重定向，字符串查找的通过handle匹配 -->
        <item explain="机构市场外发地址" status="true"  form="org" to="/wei/%s/index"></item>
        <item explain="杂志社外发地址" status="true"  form="magazine" to="/wei/magazine/issue/1/0/%s"></item>
        <item explain="微信认证" status="true"  form="wxid" to="http://weixin.bookan.cn/index.php/home/weikan/verify/wxid/%s?url=$"></item>
    </redirect>
</configuration>