<!DOCTYPE html>
<html>
<head>
    <script src="jquery-3.1.0.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="system.js"></script>
    <script src="user.js"></script>
    <script src="default.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="default.css">
</head>
<body>
    <div data-class="container" style="margin:0" id="publish">
        <part data-name="PartNavction" data-source="SourceCategory/MenuCategory/genre/4" data-attr="name=category" data-goto="preview"></part>
        <part data-name="PartArticle" data-source="CategoryIssue/ArticleShow/genre/4/category/0/cache/1" data-class="publish-list" style="overflow:hidden"></part>
    </div>
</body> 
</html>